body {
    margin: 0px;
    background-color: lightblue;
}

li {
    list-style-type: none;
    margin: 0px auto;
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    font-size: 150%;
}

h1,h2 {
    color: rgb(34, 120, 155);
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(34, 120, 155);
    margin: 40px;    
}

.topnav {
    text-align: center;
    
}

.topimg {
    margin: 100px;
    padding: 150px;
    width: auto;
    height: auto;
    
  
}

.logo { 
    margin: 0px;
    padding: 10px;
}

ul {
    float: right; 
   }

.footer {
    font-family: 'Shadows Into Light', cursive;
}

p {
    text-align: center;
    font-size: 35px;
    
}


  