body {
    margin: 0px;
}

li {
    list-style-type: none;
    margin: 25px auto;
    display: inline-block;
}

h1 {
    color: rgb(34, 120, 155);
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(34, 120, 155);  
}

.topnav {
    text-align: center;
}

.topimg {
    margin: 0px;
    width: auto;
    height: auto;
    margin-bottom: 250px;
}

.logo { 
    margin: 0px;
    padding: auto;
    
}

ul {
    float: right; 
   
   }